##
# You should look at the following URL's in order to grasp a solid understanding of Nginx configuration files 
# in order to fully unleash the power of Nginx. http://wiki.nginx.org/Pitfalls 
# http://wiki.nginx.org/QuickStart http://wiki.nginx.org/Configuration
#
# Generally, you will want to move this file somewhere, and start with a clean file but keep this around for 
# reference. Or just disable in sites-enabled.
#
# Please see /usr/share/doc/nginx-doc/examples/ for more detailed examples.
##

# Legacy (i.e. before IP arrival) redirects
# Required `map_hash_bucket_size` to be set in nginx.conf
include /etc/nginx/maps/mantra.map;

# redirect http to https
server {

	listen 80;
	listen [::]:80;
	server_name mantrasystems.com www.mantrasystems.com mantrasystems.co.uk www.mantrasystems.co.uk;
	return 301 https://mantrasystems.com$request_uri;

}

# redirect www to non-www
# plus .co.uk
server {

	# Listen for both IPv4 & IPv6 requests on port 443 with http2 enabled
	listen 443 ssl;
	listen [::]:443 ssl;
	http2 on;
	server_name www.mantrasystems.com mantrasystems.co.uk www.mantrasystems.co.uk;
	ssl_certificate /etc/letsencrypt/live/mantrasystems.com/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/mantrasystems.com/privkey.pem;
	return 301 https://mantrasystems.com$request_uri;

}

# Default server configuration
server {

	# SSL configuration
	listen 443 ssl;
	listen [::]:443 ssl;

	# Note: You should disable gzip for SSL traffic.
	# See: https://bugs.debian.org/773332
	#
	# Read up on ssl_ciphers to ensure a secure configuration.
	# See: https://bugs.debian.org/765782
	#
	# Self signed certs generated by the ssl-cert package
	# Don't use them in a production server!
	#
	# include snippets/snakeoil.conf;

	root /var/www/mantra-static/web;

	# Add index.php to the list if you are using PHP
	index index.php index.html index.htm;

	server_name mantrasystems.com;

	# Load configuration files from nginx-partials
	include /etc/nginx/nginx-partials/*.conf;

	# Temp. redirection for forms
	location = /webinar-25-07 {
		add_header Cache-Control "no-store";
		add_header Pragma "no-cache";
		add_header Expires 0;
		return 302 https://forms.clickup.com/9012776731/f/8ck83rv-7672/F80HKCO24O5KIL3BL6;
	}

	location / {
		# 1. Custom mapped redirects
		if ($new_redirect != "") {
			return 301 $new_redirect$is_args$args;
		}

		# 2. /index.html at root → /
		if ($request_uri = /index.html) {
			return 301 /$is_args$args;
		}

		# 3. Trailing slash → no slash
		if ($request_uri ~ ^(.+)/$) {
			return 301 $1$is_args$args;
		}

		# 4. /foo/index.html → /foo
		if ($request_uri ~ ^(.+)/index\.html$) {
			return 301 $1$is_args$args;
		}

		# 5. /foo.html → /foo
		if ($request_uri ~ ^(/.+)\.html$) {
			return 301 $1$is_args$args;
		}

		# 6. Jekyll-style resolution
		try_files $uri.html $uri/index.html $uri $uri/ =404;
	}

	# pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
	#
	location ~ \.php$ {
		include snippets/fastcgi-php.conf;
	#
	#	# With php7.0-cgi alone:
	#	fastcgi_pass 127.0.0.1:9000;
	#	# With php7.0-fpm:
		fastcgi_pass unix:/run/php/php8.4-fpm.sock;
	}

	# deny access to .htaccess files, if Apache's document root
	# concurs with nginx's one
	#
	#location ~ /\.ht {
	#	deny all;
	#}

	error_page 404 /404;

	ssl_certificate /etc/letsencrypt/live/mantrasystems.com/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/mantrasystems.com/privkey.pem;
	include /etc/letsencrypt/options-ssl-nginx.conf;
	ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

	# Redirects
	# rewrite ^/sitepages/home.html$ https://mantrasystems.com permanent;
	rewrite ^/free-mdr-cep$ https://mantrasystems.com/free-cep permanent;

	location /tools {
		auth_basic "Internal tooling";
		auth_basic_user_file /etc/nginx/.htpasswd;

		try_files $uri.html $uri/index.html $uri $uri/ =404;
	}

}
